.input__text {
    display: flex;
    position: relative;
    height: 75px;
    width: 100%;
    align-items: center;

    &-textarea {
        height: 100%;
        .input__text-input {
            padding: 10px;
            margin-top: 1em;
            white-space: wrap; 
            resize: auto;
            overflow: auto;
            height: 100px;
            word-wrap: break-word;
        }
    }
    &--dark {
        .input__text-input {
            &:valid {
                border-color: $color-btn;
                + .input__text-label {
                    background-color: $color-secondary;
                    color: white;
                }
            }
            &:focus + .input__text-label {
                background-color: $color-secondary;
                    color: white;
            }
        }
    }
    &-input {
        height: 55px;
        width: inherit;
        caret-color: $color-btn;
        padding: 0 10px;
        border-radius: $radius-field;
        border-style: solid;
        border-color: #C2C2C2;
        border-width: 0.5px;
        float: left;
        transition: border-color 200ms;
        &:hover {
            border-color: rgba($color: $color-btn, $alpha: 0.5);
        }
        &:valid {
            border-color: $color-btn;
            + .input__text-label {
                top: 2px;
                left: 10px;
                font-size: 12px;
                background-color: #FFF;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        &:focus {
            padding-left: 9px;
            border-width: 2px;
            border-color: $color-btn;
            outline: none;
        }
        &:focus + .input__text-label {
            top: 2px;
            left: 10px;
            font-size: 12px;
            color: $color-btn;
            background-color: #FFF;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    &-label {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 27px;
        font-size: 14px;
        color: #666666;
        transition: all 300ms;
    }
}

.input__switch {
    z-index: 0;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    > input {
        z-index: -1;
        position: absolute;
        right: 6px;
        top: -8px;
        display: block;
        margin: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba($color: $color-btn, $alpha: 1);
        opacity: 0;
        transform: scale(1);
        pointer-events: none;
        transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
        &:disabled{
            opacity: 0;
            + span {
                color: $color-btn;
                opacity: 0.38;
                cursor: default;
            }
            + span::before {
                background-color: rgba($color: $color-btn, $alpha: 0.6);
            }
        } 
        &:active {
            opacity: 1;
            transform: scale(0);
            transition: transform 0s, opacity 0s;
            + span::before {
                background-color: rgba($color: $color-btn, $alpha: 0.6);
            }
        }
        &:hover > input:focus {
            opacity: 0.16;
        }
        &:checked {
            &:active {
                + span::before {
                    background-color: rgba($color: $color-btn, $alpha: 0.38);
                }
            }
            right: -10px;
            background-color: rgba($color: $color-btn, $alpha: 1);
            + span::before {
                background-color: rgba($color: $color-btn, $alpha: 0.6);
            }
            + span::after {
                background-color: $color-btn;
                transform: translateX(16px);
            }
            &:disabled {
                + span::before {
                    background-color: rgba($color: $color-btn, $alpha: 0.6);
                }
            }
        }
        &:focus {
            opacity: 0.12;
        }
        
    }
    > span {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        &::before {
            content: "";
            float: right;
            display: inline-block;
            margin: 5px 0 5px 10px;
            border-radius: 7px;
            width: 36px;
            height: 14px;
            background-color: rgba($color: $color-btn, $alpha: 0.38);
            vertical-align: top;
            transition: background-color 0.2s, opacity 0.2s;
        }
        &::after {
            content: "";
            position: absolute;
            top: 2px;
            right: 16px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: rgba($color: $color-btn, $alpha: 0.8);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            transition: background-color 0.2s, transform 0.2s;
        }
    }
}


