.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 4em 3em 3em;
    z-index: -1;
    transform: scale(0.99);
    transition: all 200ms ease-in-out;
    opacity: 0;
    overflow-y: auto;
    &--active {
        transform: scale(1);
        z-index: 4;
        opacity: 1;
    }
    &__content {
        &--full {
            max-width: 100%;
        }
        width: auto;
        max-width: 600px;
        padding: 2em;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 10px 20px #00000026;
        color: $color-primary;
    }
    &__header {
        font-size: 1.5em;
    }
    &__body {
        line-height: 1.5;
        margin-top: 1em;
    }
    &__footer {
        margin-top: 1em;
    }
}