$color-primary: #111826;
$color-box: #0D1117;
$color-text: #FEFEFE;
$color-btn: #3737b3;
$color-secondary: #212b36;
$color-nav: rgba(22, 28, 36, 0.8);
$bg-card-first: linear-gradient(135deg, rgba(91, 228, 155, 0.2), rgba(0, 167, 111, 0.2)) rgb(255, 255, 255);
$color-nav-text: #8892a9;
$trs: all 300ms ease-in-out;
$trs-200: all 200ms ease-in-out;
$trs-100: all 100ms ease-in-out;
$radius-field: 4px;
$color-pink: #da029f;
$color-green: #17f717;
$color-paused: #ffc107;
// * Animations
$fade: fade 300ms ease-in-out;
$fadeIn: fadeIn 300ms ease-in-out;
$fadeInDown: fadeInDown 300ms ease-in-out;