@import 'variables';

body {
    background-color: $color-primary;
    background-image: url('../img/login.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    cursor: none;
    .cursor {
        width: 20px;
        height: 20px;
        border-radius: 200px;
        background: lighten($color: $color-secondary, $amount: 30);
        position: fixed;
        z-index: 2;
    }
    .login {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        max-width: 700px;
        min-width: 400px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        .card__login {
            transform: scale(1.5);
            max-width: 300px;
            padding: 2em;
            border-radius: 10px;
            border-radius: 23px;
            h2 {
                color: $color-primary;
                margin-bottom: 1em;
            }
            .btn-login {
                margin-top: 1em;
                border: 0;
                width: 100%;
                padding: 12px 24px;
                min-height: 48px;
                box-sizing: border-box;
                border-radius: 4px;
                background: #3737b3;
                color: white;
                font-size: 1rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
                text-transform: uppercase;
            }
            
            
        }
    }
}