.dashboard {
  position: relative;
}

.nav__component {
  position: fixed;
  top: 0;
  left: 0;
  background: #111826;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  color: #8892a9;
  border-right: 1px dashed #212b36;
}
.nav__component .nav__logo {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.nav__component .nav__logo-img {
  width: 50px;
  margin-right: 10px;
}
.nav__component .nav__logo-text {
  font-size: 1.5em;
  font-weight: bold;
}
.nav__component .nav__content {
  padding: 20px;
}
.nav__component .nav__content .nav__title {
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
}
.nav__component .nav__content .nav__item {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #8892a9;
}
.nav__component .nav__content .nav__item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  margin-top: 3px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.nav__component .nav__content .nav__item-head--pink {
  background: rgba(0, 0, 0, 0.3411764706);
  color: #7947e8;
  border: 1px solid #7947e8;
}
.nav__component .nav__content .nav__item-head--pink:hover {
  background: rgba(0, 0, 0, 0.3411764706);
  color: #7947e8;
}
.nav__component .nav__content .nav__item-head span:nth-child(1) {
  display: flex;
  align-items: center;
}
.nav__component .nav__content .nav__item-head span:nth-child(1) i {
  margin-right: 10px;
  font-size: 2em;
}
.nav__component .nav__content .nav__item-head--active {
  background: rgba(0, 0, 0, 0.3411764706);
  color: #7947e8;
}
.nav__component .nav__content .nav__item-head:hover {
  background: rgba(0, 0, 0, 0.3411764706);
  color: #7947e8;
}
.nav__component .nav__content .nav__item-content {
  transition: height 0.4s;
  height: 0;
  margin-left: 1em;
  font-size: 0.8em;
}

.dashboard__content {
  padding-left: 300px;
  height: 100%;
}
.dashboard__content .header__component {
  z-index: 3;
  position: fixed;
  padding: 10px 5em;
  top: 0;
  left: 0;
  width: calc(100% - 300px);
  margin-left: 300px;
  background: rgba(17, 24, 38, 0.5);
  color: #fff;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__content .main__content {
  position: relative;
  background: #111826;
  padding: 5em 3em 3em;
  height: 100vh;
  overflow-y: auto;
  color: #fff;
  animation: fadeIn 300ms ease-in-out;
}

.cards_section {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
}
.cards_section .card__item {
  background: #212b36;
  border-radius: 20px;
  padding: 20px;
  line-height: 1.5;
  grid-column: span 4;
}
.cards_section .card__item .card__title {
  font-size: 2em;
}
.cards_section .card__item .card__description {
  font-size: 1.2em;
}
.cards_section .card__item .card__btn {
  padding: 10px 20px;
  background: #da029f;
  width: auto;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  color: white;
  margin-top: 2em;
}
.cards_section .card__item--first {
  position: relative;
  background: url("../img/login.webp") no-repeat;
  background-size: cover;
  color: #fff;
  grid-column: 1/-1;
  padding: 5em 2em 2em;
}
.cards_section .card__item--first p {
  margin-top: 20px;
}
.cards_section .card__item--carousel {
  grid-column: -6/13;
}

.dropdown__component {
  position: relative;
}
.dropdown__component .dropdown__icon {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.dropdown__component .dropdown__icon:hover {
  background: rgba(0, 0, 0, 0.1490196078);
}
.dropdown__component .dropdown__content {
  position: absolute;
  width: 200px;
  background: #111826;
  padding: 20px;
  border-radius: 10px;
  top: 50px;
  right: 0;
  opacity: 0;
  transform: translateY(-150%);
  transition: all 0.3s;
  border: 1px dashed #3737b3;
}
.dropdown__component .dropdown__content--active {
  opacity: 1;
  transform: translateY(0);
}
.dropdown__component .dropdown__content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.components__items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111826;
  padding: 5em 3em 3em;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.components__items--active {
  transition: opacity 300ms ease-in-out;
  z-index: 2;
  opacity: 1;
}

.cards__components {
  margin-top: 2em;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 60px;
}
.cards__components .card-work {
  cursor: pointer;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  color: #717790;
  position: relative;
  z-index: 1;
  width: 350px;
  height: 240px;
  z-index: 1;
}
.cards__components .card-work:hover .card-work__tag {
  opacity: 1;
  transform: translateY(0px) !important;
}
.cards__components .card-work:hover::after {
  clip-path: inset(0 0 0 0 round 10px);
  transition-delay: 0s;
}
.cards__components .card-work__img {
  position: relative;
  height: 0;
  border-radius: 6px;
  padding-top: 55%;
  overflow: hidden;
  background: #444857;
  background-size: cover;
  width: 350px;
}
.cards__components .card-work__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards__components .card-work__header {
  display: flex;
  margin-top: 5px;
}
.cards__components .card-work__logo img {
  width: 30px;
  margin-right: 10px;
  border-radius: 200px;
}
.cards__components .card-work__info {
  flex: 1;
}
.cards__components .card-work__info .title {
  font-size: 1.3em;
}
.cards__components .card-work__tag {
  position: absolute;
  display: flex;
  bottom: -37px;
  color: #fff;
  transform: translateY(-10px);
  transition: all 0.3s;
  opacity: 0;
}
.cards__components .card-work__tag .tag {
  padding: 7px;
  background: #000;
  border-radius: 5px;
  font-size: 12px;
}
.cards__components .card-work__tag .tag:nth-child(n) {
  margin-right: 5px;
}
.cards__components .card-work:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2rem;
  left: 0;
  margin: -1rem;
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
  background: #1f2229;
  clip-path: inset(2rem 0 2rem 2rem round 10px);
  contain: strict;
  transition: clip-path 0.3s ease 0.1s;
  transition: clip-path 0.3s ease 0.1s, -webkit-clip-path 0.3s ease 0.1s;
}

/*# sourceMappingURL=dashboard.css.map */
